/* css variables*/
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --color: #F20505;
    --amazin: #D8D8C2;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body{
    background-color: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
    
}
.menuu{
    display: grid;
    grid-gap: 20px;        
       
}
.main-nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 0px;
}

.main-nav ul li a {
    background-color: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}



.main-nav a:hover{
    background-color: var(--amazin);
}

.btn{
    background-color: var(--color);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border-radius: 10px;
}
img{
    max-width: 100%;
}
.section{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'top-box-1 header header'
    'top-box-2 header header';

}
.header{
    grid-area: header;
    min-height: 400px;
    background: url(image/happy.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.top-box-1{
    grid-area: top-box-1;
}
.top-box-2{
    grid-area: top-box-2;
}
.header h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.header p{
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
.box{
    background-color: var(--primary);
    display: grid;
    padding: 10px;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
}
.box .text{
    font-size: 1.5rem;
}
.boxes{
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.boxx{
    background-color: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
.info{
    background-color: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media(max-width: 700px){
    .section{
        grid-template-areas: 
        'header header'
        'top-box-1 top-box-2';
    }
    .header h1{
        font-size: 2.5rem;

    }
    .info{
        grid-template-columns: 1fr;
       
    }

    .main-nav ul{
        grid-template-columns: 1fr;
       
    }
    .info .btn{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }


}

@media(max-width: 500px){
    .section{
        grid-template-areas: 
        'header '
        'top-box-1'
        'top-box-2';
    }
    .header h1{
        font-size: 2.5rem;

    }
    .info{
        grid-template-columns: 1fr;
       
    }

    .main-nav ul{
        grid-template-columns: 1fr;
       
    }
    .info .btn{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
}
